extends layout

block contact

    .jumbotron.m-4.half-opacity.font-nm
        h1.font-md Contact Me
        p Any problem reporting or suggestions are welcome :)
        .jumbotron.bg-white.d-inline-flex.flex-column.m-0
            p Email: 
                a(href="mailto:stefan.w0718@gmail.com") stefan.w0718@gmail.com
            p Github: 
                a(href="https://github.com/stefan0718" target="_blank") github.com/stefan0718
            p LinkedIn: 
                a(href="https://www.linkedin.com/in/stefan0718/" target="_blank") linkedin.com/in/stefan0718
            .d-flex.h4.mt-3.justify-content-around
                a(href="mailto:stefan.w0718@gmail.com")
                    i.fas.fa-envelope
                a(href="https://github.com/stefan0718" target="_blank")
                    i.fab.fa-github
                a(href="https://www.linkedin.com/in/stefan0718/" target="_blank")
                    i.fab.fa-linkedin-in
