extends layout

block contact

    .jumbotron.m-4.half-opacity.font-nm
        h1.font-md Contact Me
        p Any problem reporting or suggestions are welcome :)
        .jumbotron.bg-white.w-50
            p Email: 
                a(href="mailto:stefan.w0718@gmail.com") stefan.w0718@gmail.com
            p Github: 
                a(href="https://github.com/stefan0718" target="_blank") github.com/stefan0718
            p LinkedIn: 
                a(href="https://www.linkedin.com/in/stefan0718/" target="_blank") linkedin.com/in/stefan0718