//- a.list-group-item.m-2.shadow-n.border-0.rounded.p-0.listzoom.click-effect(style="display: none")
//-     #list-item.d-flex.justify-content-between.rounded
//-         .m-2
//-             img.img-thumbnail.border-0.img-fit.p-1
//-         .m-2
//-             p#item-name-size
//-             p
//-                 small
//-             h5#item-saving
//-                 mark.p-0
//-                     b#item-saving
//-             h5#item-promo
//-                 mark.p-0
//-                     b#item-promo
//-         .d-flex.flex-column.justify-content-center
//-             .m-2
//-                 span#currency(style="font-size: 1rem") $
//-                 span
//-                     b#dollar(style="font-size: 2rem")
//-                 span#cent(style="font-size: 1rem")

.card.border-0.shadow-m.click-effect.mb-2(style="display: none")
    .row.no-gutters.flex-md-nowrap
        #cardTitle.col-md-auto.text-white.text-center.p-1.nm-font
        .col-md-5.col-lg-4.col-xl-3.d-flex.align-items-center
            img.img-fluid.w-100
        .col-md-7.card-body.p-2.pl-md-1.pt-md-3.pb-md-3.d-flex.flex-column.justify-content-around
            .card-title.d-flex
                .d-flex
                    p#currency.mb-0.lg-font $
                    p#dollar.mb-0.lg-font
                    p#cent.mb-0.align-self-end.sm-font
                .d-lg-flex.ml-2
                    #discount.badge.badge-warning.rounded-pill.align-self-center.p-2
                    p#wasPrice.mb-0.align-self-end.sm-font.ml-2.d-none.d-lg-block
            p#packagePrice.card-subtitle.mb-1.sm-font
            #auto-scroll
                p#itemDesc.card-text.nm-font
            