a.list-group-item.m-1.shadow-n.border-0.rounded.listzoom.gradient.onclick(style="display: none")
    .row
        .col.col-auto.mt-2.mb-2
            img.img-thumbnail.border-0
        .col.mt-2.mb-2
            p#item-name-size
            p
                small
            h5#item-saving
                mark.p-0
                    b#item-saving
            h5#item-promo
                mark.p-0
                    b#item-promo
        .col.col-auto.align-self-center.mt-2.mb-2
            span#currency(style="font-size: 3rem") $
            span
                b#dollar(style="font-size: 4rem")
            span#cent(style="font-size: 2rem")