extends layout

block append head

    script(type="text/javascript" src="/js/script.js")

block search_result

    #searchResult.d-flex.flex-row.no-gutters.justify-content-center
        #listColes.col-6.col-lg-5.pr-1.pr-md-2
            include card
        #listWoolies.col-6.col-lg-5.pl-1.pl-md-2
            include card