extends layout

block main
 
    .position-fixed.w-100.h-100.d-flex.flex-column.justify-content-center.align-items-center
        .d-flex.flex-wrap.text-white.display-4.justify-content-center
            .p-3 Searching
            .p-3 Comparing
            .p-3 Listing