extends layout

block append head

    script(type="text/javascript" src="/js/script.js")

block background

    #background.row(style="display: none")
        #logo.col.align-self-center
            p.text-gradient Price&ensp;
                i.fas.fa-tags
            p.text-gradient Dropped

block search_bar

    .row.justify-content-center
        form.container.needs-validation.m-5.w-75.justify-content-center(action="." method="POST" novalidate)
            #searchBar.row.input-group.shadow-n.rounded-pill.clr-wht(style="display: none")
                input#query.form-control.form-control-lg.border-0.rounded-pill(type="text" name="query" placeholder="Search for a product here" aria-label="Search" required)
                .input-group-append
                    button.btn.btn-default.border-0.rounded-pill(type="submit")
                        i.fas.fa-search.zoom.onclick
            .row(style="visibility: hidden; height: 3vh")
                .invalid-feedback(style="visibility: visible") You need to provide a product name here.
    .d-flex.justify-content-center
        .loading(style="display: none")

block search_result

    .row
        #listColes.col.list-group(style="display: none")
            include item
        #listWoolworths.col.list-group
            include item
        
