#navBar.fixed-top
    nav.navbar.navbar-expand-md.bg-white.shadow-m.pt-1.pb-1.text-dark
        button.navbar-toggler.border-0(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            i.fas.fa-hamburger.click-effect.text-dark
        a.navbar-brand.logo.h1.mb-0.m-auto.p-0.flex-column.click-effect(href="#")
            p.text-gradient Price&ensp;
                i.fas.fa-tags
            p.text-gradient(style="margin-top: -0.8vmax") Dropped
        button.navbar-toggler.border-0(type="button" data-toggle="collapse" data-target="#navSearch" aria-controls="navSearch" aria-expanded="false" aria-label="Toggle navigation")
            i.fas.fa-search.my-auto.click-effect.text-dark
        #navbarNav.collapse.navbar-collapse.ml-3
            .navbar-nav
                a.nav-item.nav-link.text-dark(href="#") Home
                a.nav-item.nav-link.text-dark(href="#") Featured
                a.nav-item.nav-link.text-dark(href="#") List 
                    i.fas.fa-sticky-note
                a.nav-item.nav-link.text-dark(href="#") About
        form#navSearch.form-inline.collapse.navbar-collapse.needs-validation(action="." method="POST" novalidate)
            .input-group.bg-white.rounded-pill.ml-auto.w-100.border.border-secondary(style="padding: 1px")
                input#searchInput.form-control.form-control-sm.border-0.rounded-pill(type="search" name="query" placeholder="Search for a product" aria-label="Search" required)
                .input-group-append
                    button#searchButton.btn.btn-sm.border-0.rounded-pill(type="submit")
                        i.fas.fa-search.text-secondary.click-effect
    .progress.rounded-0.invisible(style="height: 3px")
        .progress-bar(role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
    .invalid-feedback.text-right.pr-4.mt-0(style="visibility: visible") 
        p You need to provide a product name here.