#prompt.fixed-bottom.collapse
    .col-11.col-xl-8.bg-white.rounded-top.shadow-m.p-1.mx-auto
        #promptText.text-center.md-font
#prompt-1.fixed-bottom.collapse
    .col-11.col-xl-8.bg-white.rounded-top.shadow-m.p-1.mx-auto
        #promptText.text-center.md-font
        .d-flex.justify-content-around
            button#btnRechoose.btn.btn-outline-secondary.btn-sm.md-font(type="button" ) ReChoose
            button#btnPass.btn.btn-outline-secondary.btn-sm.md-font(type="button") Just this one
#prompt-2.fixed-bottom.collapse
    .col-11.col-xl-8.bg-white.rounded-top.shadow-m.p-1.mx-auto
        #promptText.text-center.md-font
        .d-flex.justify-content-around
            button#btnRechoose.btn.btn-outline-secondary.btn-sm.md-font(type="button" ) ReChoose
            button#btnConfirm.btn.btn-outline-secondary.btn-sm.md-font(type="button") Confirm