body { font-family: Jost; }

@font-face {
    font-family: Jost;
    src: url('/font/Jost-Medium.ttf')
}

@font-face {
    font-family: ReachTheEnd;
    src: url('/font/Reach the End.otf')
}

.sm-font { font-size: .6em }

.md-font { font-size: .8em }

.lg-font { font-size: 1em }

.logo { font-family: ReachTheEnd; }

.text-gradient {
    background: linear-gradient(to right, #de1f27, #de1f29c4, #de1f2985, #17884185, #178841c4, #178841);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
    margin-bottom: 0;
}

.click-effect { transition: 0.2s; }

.click-effect:active { transform: scale(0.8); }

button:focus { outline: none; }

.btn:focus, .form-control:focus { box-shadow: none }

.shadow-m {
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2)
}