body {
    padding-top: 100px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.img-fit {
    height: 9vmax;
    width: 9vmax;
    object-fit: contain;
}

.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    font-size: 10vmax;
    color: #424242;
    font-weight: 600;
    line-height: 1.1;
    z-index: -1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.text-gradient {
    background: linear-gradient(to right, #de1f27, #de1f29c4, #de1f2985, #17884185, #178841c4, #178841);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
    margin-bottom: 0;
    margin-top: -1vmax;
}

.gradient-coles {
    background: linear-gradient(to right, #de1f27, #ffffff);
}

.gradient-ww {
    background: linear-gradient(to right, #ffffff, #178841);
}

.chosen-item {
    display: none;
    width: 7vmax;
    height: 7vmax;
    visibility: visible;
    border: 0
}

.item-container {
    visibility: hidden;
    width: 7vmax;
    height: 7vmax;
}

span.badge {
    display: none;
    visibility: visible;
    position: absolute; 
}

.no-wrap {
    overflow-x: auto;
    white-space: nowrap;
}

.click-effect { transition: 0.2s; }

.click-effect:active { transform: scale(0.98); }

button:focus { outline: none; }

.btn:focus, .form-control:focus { box-shadow: none }

/* .shadow-n {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
} */

.shadow-m {
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2)
}

.border-left {
    border-left: 3px solid #de1f27!important
}

/* .loading {
    border: 2vmax solid #3a3a3a;
    border-top: 2vmax solid #3a3a3a00;
    border-radius: 50%;
    width: 20vmax;
    height: 20vmax;
    -webkit-animation: loading-animation 1s linear infinite;
    -moz-animation: loading-animation 1s linear infinite;
    animation: loading-animation 1s linear infinite
}

@keyframes loading-animation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@-webkit-keyframes loading-animation {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes loading-animation {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
} */